img{
    height: 100px;
    width: 100%;
    border-radius: 15px;
}

.col-sm-3{
    padding: 10px;
}

.block{
    border: 1px solid gainsboro;
    border-radius: 15px;
}

.fa-star{
    float: right;
}

p{
    font-size: 10px;
}

.description{
    padding: 5px;
}

.btn-btn{
    float: right;
    border: 1px solid black;
    font-size: 10px;
    background: none;
}

.offer{
    height: 65px;
}